&:not(:last-child) {
    margin-bottom: 5rem;
}

.products-item__more {
    display: block;
    height: 100%;
    background-color: #F3F0EE;
    -webkit-transition: background-color .3s ease 0s;
    transition: background-color .3s ease 0s;
}

.products-item__more:hover {
    background-color: #E8E1DC;
}

.products-item__more-text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    color: #975730;
    text-align: center;
    font-size: 0.875rem;
    line-height: 1.1538461538;
    -webkit-transition: color .3s;
    transition: color .3s;
}

.swiper-button-next, .swiper-button-prev {
    display: inline-block;
    position: static;
    margin-top: 0;
    display: block;
    color: inherit;
}

@media (max-width: 63.99875em) {
    &:not(:last-child) {
        margin-bottom: 4rem;
    }
}