a:not([class]){
  color: inherit;
}

.article-photo {
  border-radius: var(--img-border-radius);
  margin-bottom: 30px;
}

.article-content{
  min-width: 0;
}

&[style*="--article-hide-photo:true"] {
  .article-photo {
    display: none!important;
  }
}

.article-info{
  // display: grid;
  // grid-template-columns: repeat(5, max-content);
  // grid-column-gap: 15px;
  // align-items: center;
  margin-bottom: 30px;

  svg{
    width: 100%;
    height: auto;
  }

  .time,
  .author{
    > div{
      display: grid;
      grid-template-columns: 16px max-content;
      grid-column-gap: 10px;
      align-items: center;
    }
  }

  > div{
    display: inline-block;
    vertical-align: middle;
    margin: 3px 5px;
  }
}

.article-tags{
  margin-top: 30px;

  a{
    text-decoration: none;

    &:hover{
      opacity: 0.8;
    }
  }
}

&[style*="--tags-hide:true"]{
  .article-tags{
    display: none !important;
  }
}

&[style*="--text-justify:true"]{
  .article-content{
    text-align: justify;
  }
}