node_modules/
*.min.*
.DS_Store
.env
.env.*
package-lock.json
minifier-config.json
*/
themes/
**/assets/
**/media/
**/templates/
**/sections/
**/snippets/
**/config/
**/layout/
**/locales/
**/index.js

archive/

# limemart_wizzu_ru/
# vkusdom_wizzu_ru/
# www_duman_store/