// !!! Вынести в общий файл
.block-seo__item-cover img,
.block-seo__item-vertically img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.block-seo__item {
    flex: 0.5;
    padding: 2.5rem;
    color: #251E19;
    background-color: #F3F0EE;
}

.block-seo__item:first-child {
    color: #fff;
    background-color: #40332B;
}

.block-seo__item-wrapper,
.block-seo__text p {
    max-width: 28.75rem;
}

.block-seo__item-vertically {

}

.block-seo__item-cover {
    position: relative;
    min-height: 18.875rem;
}

.block-seo__item-cover::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #40332B33;
    z-index: 1;
}

.block-seo__item-horizon,
.block-seo__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1.25rem;
}

.block-seo__title {
    font-size: 1.75rem;
    font-weight: 500;
}

.block-seo__text:not(:last-child),
.block-seo__title:not(:last-child),
.block-seo__title-white:not(:last-child),
.block-seo__desc:not(:last-child),
.block-seo__images-wrapper {
    margin-bottom: 1.25rem;
}

.block-seo__text {
    flex: 1;
}

.block-seo__text a {
    color: #FEB386;
}

.block-seo__text,
.block-seo__desc {
    font-size: 1rem;
    line-height: 120%;
}

.block-seo__image {
    position: relative;
    flex: 1;
    max-width: 18.9375rem;
}

.block-seo__image video {
    cursor: pointer;
}

.block-seo__image img,
.block-seo__image video {
    display: block;
    width: 100%;
}

.block-seo__images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 19.375rem;
    max-width: 41.25rem;
}

.block-seo__item-img {
    position: relative;
    overflow: hidden;
}

.block-seo__icon {
    position: relative;
}

.block-seo__icon span {
    position: absolute;
    top: -0.625rem;
    left: -0.625rem;
    width: 2.75rem;
    height: 2.75rem;
    z-index: 10;
}

.block-seo__cover-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 23.75rem;
    text-align: center;
    z-index: 10;
}

.block-seo__title-white {
    font-weight: 500;
    font-size: 2.75rem;
    line-height: 100%;
    color: #fff;
}

.btn_seo {
    min-height: 2rem;
    padding: 0.46875rem 0.5rem;
    font-size: 0.875rem;
    line-height: 120%;
    color: #251E19;
    background-color: #fff;
    transition: background-color ease 0.25s;
}

.btn_seo:hover {
    background-color: #e8e8e8;
}

.block-seo__btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 0.75rem 0.5rem;
    flex-wrap: wrap;
}

.seo-loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-bottom: none !important;
}

@media (min-width: 47.99875em) {
    .block-seo__wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        min-height: 18.875rem;
    }
}

@media (max-width: 82.49875em) {
    .block-seo__image {
        max-width: 14.5rem;
    }
}

@media (max-width: 47.99875em) {
    .block-seo__item:first-child {
        padding: 0.75rem 0.75rem 2rem;
    }

    .block-seo__item:last-child {
        padding: 2rem 0.75rem;
    }

    .block-seo__images {
        grid-template-rows: 15.4375rem;
    }

    .block-seo__image {
        max-width: 100%;
    }

    .block-seo__text {
        gap: 0.75rem;
    }
}

@media (max-width: 29.99875em) {
    .block-seo__item-cover {
        min-height: 11.25rem;
    }

    .block-seo__title {
        font-size: 1.25rem;
    }

    .block-seo__item-vertically {
        overflow: hidden;
        width: 100%;
    }

    .block-seo__item-horizon {
        flex-direction: column;
    }

    .block-seo__images-wrapper {
        overflow-x: auto;
    }

    .block-seo__images {
        grid-template-columns: 1fr 1fr 0;
        grid-template-rows: 14.9375rem;
        min-width: 21rem;
        width: 100%;
    }

    .block-seo__title-white {
        font-size: 1.75rem;
    }
}