&:not(:last-child) {
  margin-bottom: 5rem;
}

.catalog__list {
  position: relative;
}

.mob-popup_filters {
  z-index: 1010;
}

// Скелетон
.catalog__list {
  transition: opacity ease 0.2s;
}

// Оставить тут
.checkbox-btn__input:checked+.checkbox-btn__text-wrapper,
.checkbox-btn__input:checked+.checkbox-btn__text-wrapper:hover {
  color: #251E19;
  border-color: #A38775;
  background-color: #F3F0EE;
}

@media (max-width: 63.9988em) {
  &:not(:last-child) {
      margin-bottom: 4rem;
  }
}

// [New] Вынести в общий файл стилей
.catalog__tag {
  position: relative;
  margin-bottom: 1.25rem;
}

.catalog__tag-swiper {
  -ms-touch-action: pinch-zoom pan-y;
  touch-action: pinch-zoom pan-y;
}

.catalog__tag-list {
}

.tag-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  margin-top: 0;
  width: auto;
  height: auto;

  background-color: #fff;
  z-index: 100;
  color: inherit;
}

.tag-btn p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  margin: 0;

  background-color: #F3F0EE;
  border-radius: 0.5rem;
}

.tag-btn.swiper-button-prev {
  left: 0;
  padding-right: 0.5rem;
}

.tag-btn.swiper-button-next {
  right: 0;
  padding-left: 0.5rem;
}

.swiper-button-prev.swiper-button-disabled {
  display: none;
}

.swiper-button-next.swiper-button-disabled {
  pointer-events: none;
}

.swiper-button-next.swiper-button-disabled path {
  fill: #D3D2D1;
}

.tag__btn-all,
.filter__tag-item,
.catalog__tag-item {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 1.5rem;
  padding: 0.21875rem 0.75rem;
  font-size: 0.875rem;
  text-align: center;
  color: #251E19;
  transition: color ease 0.25s;
}

.filter__tag-item,
.catalog__tag-item {
  max-width: 12.5rem;
  border: 1px solid #D3D2D1;
  border-radius: 1.875rem;
}

.tag__btn-all:hover,
.filter__tag-item:hover
.catalog__tag-item:hover {
  color: #975730;
}

.tag__btn-all {
  padding-right: 2rem;
  width: auto;
  height: auto;
}

.tag__spoller {
  height: 0;
}

.tag__spoller > .filters__body {
  left: auto;
  right: 0;
  width: 22.5rem;
}

.tag__spoller-label {
  margin-bottom: 0.75rem;
  font-weight: 500;
  font-size: 1rem;
  line-height: 120%;
}

.filter__tag-item {
  display: inline-flex;
  height: fit-content;
}

.filters__list,
.popup__tags-list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.catalog_not-product {
  font-weight: 500;
  font-size: 2rem;
}


@media (min-width: 63.9988em) {
  .catalog__grid {
    grid-row-gap: 0.75rem;
  }
  // .catalog__tag,
  // .catalog__tag-swiper {
  //   width: fit-content;
  // }
}

@media (max-width: 63.9988em) {
  .catalog__tag {
    padding-top: 0.25rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    margin-bottom: 0.75rem;
  }

  .tag__btn-all {
    padding-right: 0;
  }

  .tag-btn {
    display: none;
  }

  .popup__tags-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }

  .popup__tags-title {
    color: #251E19;
    font-size: 1rem;
    font-weight: 500;
    line-height: 120%;
  }

  .popup__tags-wrapper {
    flex: 1;
    overflow-y: auto;
  }

  .popup__tags-list {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
  }

  .btn_popup-tag {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    max-width: 21rem;
    margin: 0 auto;
    background-color: #F3F0EE;
    color: #975730;
    border: none;
  }

  // Лоадер пагинации
  .catalog__loader {
    padding: 0 1rem;
    margin-top: 1.25rem;
  }

  .catalog__loader-body {
    padding-bottom: 1.25rem;
  }
}