&.layout{
  overflow: hidden;
}

.rev-title{
  position: relative;
  text-align: var(--text-align);
  display: none;
  margin-bottom: var(--custom-title-mb);
  
  > *{
    display: block;
    font-weight: 500;
    font-size: 48px;
    padding-top: 15px;
  }

  &:before{
    position: absolute;
    top: 0;
    content: attr(data-title);
    white-space: nowrap;
    font-weight: 700;
    font-size: var(--bg-font-size);
    line-height: var(--bg-font-size);
    text-transform: uppercase;
    opacity: 0.05;
    display: none;

    @media all and (max-width: 767px){
      font-size: var(--bg-font-size-sm);
      line-height: var(--bg-font-size-sm);
    }
  }

  .title{
    font-weight: 500;
    font-size: var(--title-font-size);
    padding-top: var(--custom-title-pt);
    padding-bottom: var(--custom-title-pb);
    margin: 0;

    @media all and (max-width: 767px){
      font-size: var(--title-font-size-sm);
    }
  }
}

&[style*="--title-on:true"] {
  .rev-title{
    display: block;
  }
}
&[style*="--text-align:left"] {
  .rev-title:before{
    left: 0;
  }
}
&[style*="--text-align:center"] {
  .rev-title:before{
    left: 50%;
    transform: translate(-50%, 0);
  }
}
&[style*="--text-align:right"] {
  .rev-title:before{
    right: 0;
  }
}
&[style*="--show-bg-text:true"] {
  @media all and (min-width: 768px){
    .rev-title:before{
      display: block;
    }
  }
}
&[style*="--show-bg-text-sm:true"] {
  @media all and (max-width: 767px){
    .rev-title:before{
      display: block;
    }
  }
}

.rev-products.m-bottom{
  margin-bottom: var(--custom-layout-mb);
}

.navigation{
  display: grid;
  grid-template-columns: 30px auto 30px;
  grid-column-gap: 20px;
  align-items: center;

  .swiper-prev,
  .swiper-next,
  .swiper-pagination{
    position: static;
    width: 100%;
    cursor: pointer;
    margin-top: var(--custom-navigation-mt);
    margin-bottom: var(--custom-navigation-mb);

    &.swiper-button-disabled{
      cursor: inherit;
      opacity: 0.3;
    }
  }

  .swiper-pagination{
    height: 2px;
    background-color: var(--bg-major-shade);
    
    .swiper-pagination-progressbar-fill{
      background-color: var(--color-btn-bg);
    }
  }
}

&[style*="--show-arrows:false"] {
  .navigation{
    grid-template-columns: 0 100% 0;
    grid-column-gap: 0;

    .swiper-prev,
    .swiper-next{
      display: none;
    }
  }
}

&[style*="--show-progress:false"] {
  .navigation{
    .swiper-pagination{
      display: none;
    }
  }
}

&[style*="--show-arrows:false"][style*="--show-progress:false"] {
  .navigation{
    display: none;
  }
}

&[style*="--navigation-align:middle"]{
  .js-products-slider{
    padding: 0 40px;
  }

  .navigation{
    margin: 0 !important;

    .swiper-prev,
    .swiper-next{
      position: absolute;
      z-index: 2;
      top: 50%;
      transform: translate(0, -50%);
      width: 40px;
      height: 40px;

      svg{
        width: 100%;
        height: auto;
      }
    }

    .swiper-prev{
      left: 0;
    }

    .swiper-next{
      right: 0;
    }

    .swiper-pagination{
      display: none;
    }
  }
}

&[style*="--navigation-align:bottom"]{
  .js-products-slider{
    display: flex;
    flex-direction: column;
    
    .navigation{
      order: 2;
    }
  }
}

.button-container{
  margin-top: 20px;
  
  a{
    display: block;
    font-size: 18px;
    font-weight: 500;
    line-height: 50px;
    border: 2px solid #cacaca;
    text-align: center;
    text-decoration: none;
  }
}

.product-item{
  a,
  button{
    &:not(.button){
      color: inherit;
    }
  }
  
  > form{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    border-radius: var(--product-item-border-radius);
    overflow: hidden;
    @include background-color(--product-item-bg);
    border: 1px solid var(--product-item-border-color);
    text-align: var(--product-info-align);
  }

  &_image{
    position: relative;
    min-width: 0;
    margin-bottom: 15px;

    .img-container{
      position: relative;
      height: 0;
      overflow: hidden;
      padding-top: calc(100% / (var(--img-ratio, 1)));
    }

    .absolute{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    .slider-images{
      width: 100%;
      height: 100%;

      .swiper-prev,
      .swiper-next{
        position: absolute;
        z-index: 2;
        width: 40px;
        height: 40px;
        top: 300%;
        transform: translate(0, -50%);
        border-radius: 50%;
        background-color: #ffffff4f;
        backdrop-filter: blur(2px);
        cursor: pointer;
        transition: 0.3s all cubic-bezier(0.83, 0, 0.17, 1);
        border: 1px solid var(--color-text-dark-half-shade);

        svg{
          position: absolute;
          width: 20px;
          height: 20px;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: inherit;
        }
      }

      .swiper-prev{
        left: 10px;

        svg{
          margin-left: -1px;
        }
      }
      .swiper-next{
        right: 10px;

        svg{
          margin-left: 1px;
        }
      }

      .swiper-pagination{
        transition: 0.3s all cubic-bezier(0.83, 0, 0.17, 1);
        bottom: -300px;

        .swiper-pagination-bullet-active{
          background-color: var(--bg-hover-image);
        }
      }

      &:hover{
        .swiper-prev, 
        .swiper-next{
          top: 50%;
        }
        .swiper-pagination{
          bottom: 10px;
        }
      }
    }

    .hover-images{
      display: table;
      width: 100%;
      height: 100%;
      padding: 0 10px;

      .hover-image{
        display: table-cell;
        height: 100%;
        padding: 0 2px;

        > div:first-child{
          position: relative;
          z-index: 2;
          height: 100%;

          &:after{
            position: absolute;
            content: '';
            left: 0;
            right: 0;
            bottom: 10px;
            height: 4px;
            background-color: var(--product-item-bg);
          }
        }

        &.one-image{
          > div:first-child:after{
            display: none !important;
          }
        }

        > div:last-child{
          display: none;
        }

        &.is-active{
          > div:first-child{
            &:after{
              background-color: var(--bg-hover-image);
            }
          }

          > div:last-child{
            display: block;
          }
        }
      }
    }

    img{
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0;
      border-radius: var(--product-item-border-radius);
      object-fit: cover;
      height: 100%;
      width: 100%;
      max-width: none;
      max-height: none;
      object-position: 50% 50%;

      &.loaded{
        opacity: 1;
      }
    }
  }

  &_sku{
    opacity: 0.5;
    font-weight: 300;
    font-size: 85%;
    margin: 5px 0 -5px 0;
  }

  &_title{
    margin: 5px 0;

    a{
      font-size: 1.05rem;
      text-decoration: none;
      font-weight: 500;
    }
  }

  &_description{
    margin: -5px 0 5px 0;
  }

  &_rating{
    margin: 5px 0;

    .stars{
      display: inline-grid;
      grid-template-columns: repeat(5, 1fr);
      grid-column-gap: 5px;
      margin-right: 5px;
    }
    .reviews{
      display: inline-block;

      a{
        font-size: 0.8rem;
        color: #cacaca;
      }
    }
  }

  &_variants{
    margin: 10px 0;
  }

  &_prices{
    margin: 10px 0;
    font-size: 1.3rem;
    font-weight: 600;

    .product-old_price{
      font-size: 1rem;
      font-weight: 500;
      text-decoration: line-through;
      opacity: 0.7;
    }
  }

  &_buy{
    margin: 10px 0 0 0;

    button,
    a{
      width: 100%;

      svg{
        height: 1rem;
        width: auto;
      }

      &[data-item-add],
      &[data-add-cart-counter-btn]{
        span{
          margin: 0 10px;
        }
      }
    }
  }

  .show-more{
    display: none;
  }
}

.sticker-container{
  position: absolute;
  z-index: 3;
  top: 15px;
  left: 15px;

  .sticker-point{
    display: inline-block;
    vertical-align: top;
    border-radius: var(--product-item-border-radius);
    font-weight: 400;
    font-size: 0.9rem;
    padding: 3px 5px;
    margin-bottom: 7px;

    &:empty{
      display: none;
    }
  }

  @media all and (max-width: 767px){
    top: 10px;
    left: 10px;
  }
}

.fixed-buttons{
  position: absolute;
  top: 15px;
  right: 15px;

  @media all and (max-width: 767px){
    top: 10px;
    right: 10px;
  }
}

.fav-container{
  position: relative;
  z-index: 3;
  
  a{
    position: relative;
    display: block;
    @include background-color(--bg);
    width: 37px;
    height: 37px;
    border-radius: 50%;
    padding: 8px 7px 7px;

    &.favorites-added{
      color: var(--favorites-color) !important;
    }
  }

  svg{
    width: 100%;
    height: auto;
  }

  span{
    &:first-child{
      display: inline;
    }
    &:last-child{
      display: none;
    }
  }

  .favorites-added{
    span{
      &:first-child{
        display: none;
      }
      &:last-child{
        display: inline;
      }
    }
  }
}

&[style*="--product-item-bg:#"]{
  .fav-container{
    a{
      @include background-color(--product-item-bg);
    }
  }
}

.more-container{
  position: relative;
  width: 32px;
  height: 32px;
  z-index: 1;
  margin-bottom: 10px;
}

.option-selector{
  .option{
    margin-bottom: 5px;
  }

  .option-values{
    font-size: 0;

    > *{
      font-size: 0.8rem;
    }
  }

  .option-label{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
    font-size: 90%;

    span{
      font-weight: 400;
      opacity: 0.5;
    }
  }

  .option-value{
    position: relative;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid var(--color-text-dark-half-shade);
    outline: none;
    border-radius: 0;
    min-width: 30px;
    height: 30px;
    padding: 0 5px;
    margin: 0 7px 7px 0;

    &.is-preview{
      width: 40px;
      height: 40px;
      overflow: hidden;
      padding: 0;

      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &.is-active{
      border-color: var(--variant-bg);
      @include background-color(--variant-bg);
    }
  }

  .hover-images{
    display: block !important;
  }

  .slider-images{
    display: none !important;
  }
}

&:not([style*="--product-item-bg:#"]){
  .product-item_image{
    .hover-images{
      .hover-image{
        > div:first-child:after{
          background-color: var(--bg);
        }

        &.is-active{
          > div:first-child:after{
            background-color: var(--bg-hover-image);
          }
        }
      }
    }
  }
}

&[style*="--hide-favorites:true"] {
  .fav-container{
    display: none !important;
  }
}
&[style*="--hide-sku:true"] {
  .product-item_sku{
    display: none !important;
  }
}
&[style*="--hide-description:true"] {
  .product-item_description {
    display: none !important;
  }
}
&[style*="--hide-rating:true"] {
  .product-item_rating{
    display: none !important;
  }
}

.add-cart-counter{
  &__controls{
    display: none;
    font-size: 0.75rem;
    grid-template-columns: 40px auto 40px;
    grid-column-gap: 1px;
  }

  &__detail{
    display: grid;
    grid-gap: 3px;
    font-size: 0.75rem;
    line-height: 0.75rem;
    border-radius: 0;
    padding: 5px;
  }

  [data-add-cart-counter-minus]{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  [data-add-cart-counter-plus]{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  &.is-add-cart{
    .add-cart-counter__btn{
      display: none;
    }
    .add-cart-counter__controls{
      display: grid;
    }
  }
}

form{
  [data-product-card-preorder]{
    display: none;
  }
  .product-item_buy{
    position: relative;
  }
  .js-available-container{
    &.is-hidden{
      position: absolute;
      z-index: 3;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      @include background-color(--bg);
      background-color: transparent;
      display: none;

      > div{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: grid;
        grid-template-columns: 20px auto;
        grid-column-gap: 10px;
        align-items: center;
        white-space: nowrap;
      }

      &:before{
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0.9;
        font-size: 1.1rem;
        background-color: var(--bg);
      }
    }
  }

  &.not-available{
    [data-product-card-preorder]{
      display: block;

      + div{
        display: none;
      }
    }
    .js-available-container{
      display: block;
    }
  }
}
&[style*="--product-item-bg:#"]{
  form{
    .js-available-container{
      &.is-hidden{
        @include background-color(--product-item-bg);
        background-color: transparent;

        &:before{
          background-color: var(--product-item-bg);
        }
      }
    }
  }
}

.price_min{
  display: none !important;
}

&[style*="--hide-variants:true"] {
  @media all and (min-width: 768px){
    .many-variants{
      .js-available-container,
      [data-product-card-preorder]{
        display: none !important;
      
        + div{
          display: block !important;
        }
      }
    
      .show-more{
        display: block;

        + .button,
        + .add-cart-counter{
          display: none !important;
        }
      }
    }
    .one-variant{
      form.not-available{
        [data-product-card-preorder]{
          display: block;

          + div{
            display: none;
          }
        }

        .js-available-container{
          display: none !important;

          + div{
            .show-more{
              display: block;

              + .button,
              + .add-cart-counter{
                display: none !important;
              }
            }
          }
        }
      }
    }
    .product-item_variants{
      display: none !important;
    }
    .price_min{
      display: block !important;

      + span,
      + span + span{
        display: none !important;
      }
    }
  }
}
&[style*="--hide-variants-sm:true"]{
  @media all and (max-width: 767px){
   .many-variants{
      .js-available-container,
      [data-product-card-preorder]{
        display: none !important;
      
        + div{
          display: block !important;
        }
      }
    
      .show-more{
        display: block;

        + .button,
        + .add-cart-counter{
          display: none !important;
        }
      }
    }
    .one-variant{
      form.not-available{
        [data-product-card-preorder]{
          display: block;

          + div{
            display: none;
          }
        }

        .js-available-container{
          display: none !important;

          + div{
            .show-more{
              display: block;

              + .button,
              + .add-cart-counter{
                display: none !important;
              }
            }
          }
        }
      }
    }
    .product-item_variants{
      display: none !important;
    }
    .price_min{
      display: block !important;

      + span,
      + span + span{
        display: none !important;
      }
    }
  }
}
&[style*="--hide-label-variant:true"] {
  .product-item_variants { 
    .option-label {
      display: none !important;
    }
  }
}
&[style*="--product-item-border-color:#"],
&[style*="--product-item-bg:#"] {
  .product-item form{
    padding-bottom: 20px;
  }
  .product-item_sku,
  .product-item_title,
  .product-item_description,
  .product-item_rating,
  .product-item_variants,
  .product-item_prices,
  .product-item_buy{
    padding: 0 20px;
  }
}

.button.button-dashed{
  span{
    border-bottom: 1px dashed;
  }

  &:hover{
    span{
      border-bottom: 1px dashed transparent;
    }
  }
}

.bttn-bubble{
  transition: transform ease-in 0.1s;
  
  &:focus {
    outline: 0;
  }
  
  &:before, &:after{
    position: absolute;
    content: '';
    display: block;
    width: 140%;
    height: 100%;
    left: -20%;
    z-index: -1000;
    transition: all ease-in-out 0.5s;
    background-repeat: no-repeat;
  }
  
  &:before{
    display: none;
    top: -75%;
    background-image:  
    radial-gradient(circle, currentColor 20%, transparent 20%),
    radial-gradient(circle, transparent 20%, currentColor 20%, transparent 30%),
    radial-gradient(circle, currentColor 20%, transparent 20%), 
    radial-gradient(circle, currentColor 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, currentColor 15%, transparent 20%),
    radial-gradient(circle, currentColor 20%, transparent 20%),
    radial-gradient(circle, currentColor 20%, transparent 20%),
    radial-gradient(circle, currentColor 20%, transparent 20%),
    radial-gradient(circle, currentColor 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
    background-position: 0% 80%, -5% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 85% 30%;
  }
  
  &:after{
    display: none;
    bottom: -75%;
    background-image:  
    radial-gradient(circle, currentColor 20%, transparent 20%), 
    radial-gradient(circle, currentColor 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, currentColor 15%, transparent 20%),
    radial-gradient(circle, currentColor 20%, transparent 20%),
    radial-gradient(circle, currentColor 20%, transparent 20%),
    radial-gradient(circle, currentColor 20%, transparent 20%),
    radial-gradient(circle, currentColor 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }
 
  &:active{
    transform: scale(0.9);
  }
  
  &.animate{
    &:before{
      display: block;
      animation: topBubbles ease-in-out 0.75s forwards;
    }
    &:after{
      display: block;
      animation: bottomBubbles ease-in-out 0.75s forwards;
    }
  }
}

@keyframes topBubbles {
  0%{
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }
    50% {
      background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;}
 100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
  background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%;
  }
}

@keyframes bottomBubbles {
  0%{
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;}
 100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
  background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%;
  }
}

.preloader{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;

  svg{
    width: 100%;
    height: 100%;
    animation: 3s linear 0s normal none infinite running rotate;
    -webkit-animation: 3s linear 0s normal none infinite running rotate;

    path{
      fill: var(--color-btn-bg) !important;
    }
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

&[style*="--grid-list-min-width:100%"]{
  .product-item{
    form{
      flex-direction: inherit;
      align-items: center;
      padding-bottom: 0;
    }

    &_top{
      display: flex;
      align-items: center;
    }

    &_image{
      min-width: 200px;
      margin-bottom: 0;
    }

    &_info{
      margin-left: 30px;
    }
  }
}

.product-form{
  .js-preload-block{
    opacity: 0;
    transition: 0.3s all cubic-bezier(0.83, 0, 0.17, 1);
  }

  &.is-available,
  &.not-available{
    .js-preload-block{
      opacity: 1;
    }
  }
}

.swiper-container{
  &:not([data-slides-per-view="1"]){
    @media all and (min-width: 768px){
      .swiper-slide{
        height: auto;

        > .product-item{
          height: 100%;
        }
      }
    }
  }
  &:not([data-slides-per-view-sm="1"]){
    @media all and (max-width: 767px){
      .swiper-slide{
        height: auto;

        > .product-item{
          height: 100%;
        }
      }
    }
  }
}