.local-loader > svg {
    max-height: 28rem;
}

// .catalog__list_search:not(:last-child) {
//     margin-bottom: 2rem;
// }

.catalog__title>span:first-child {
    white-space: normal !important;
}

.checkbox-btn__input:checked+.checkbox-btn__text-wrapper,
.checkbox-btn__input:checked+.checkbox-btn__text-wrapper:hover {
  color: #251E19;
  border-color: #A38775;
  background-color: #F3F0EE;
}