@include background-color(--bg);

&[style*="--hide-description:true"] {
  .product-preview__description {
    display: none !important;
  }
}

&[style*="--img-fit:contain"] {
  .product-preview__photo .img-ratio img {
    object-fit: contain;
  }
}

&[style*="--hide-variants:true"] {
  .product-preview__variants {
    display: none !important;
  }

  .product-preview__price {
    display: none;
  }

  .product-preview__price-range {
    display: block;
  }

  .product-preview.is-more-variants {

    .product-preview__preorder-btn,
    .add-cart-counter,
    .add-cart-counter__btn,
    .product-preview__detail-btn {
      display: none !important;
    }

    .product-preview__detail-select-btn {
      display: inline-flex !important;
    }

    &.is-zero-count-hidden,
    &.is-all-variants-not-available.is-zero-count-shown.is-forbid-order-over-existing {
      .product-preview__detail-select-btn {
        display: none !important;
      }

      .product-preview__detail-btn {
        display: inline-flex !important;
      }
    }
  }

  .product-preview.is-more-old-prices {
    .sticker-sale {
      display: none;
    }
  }

  .product-preview .add-cart-counter {
    display: grid!important;
  }

  .product-preview.not-available .add-cart-counter {
    //display:none!important;
  }

  .product-preview.is-more-variants .add-cart-counter {
    display:none!important;
  }
}

&[style*="--hide-variants-title:true"] {
  .option-selector .option-label {
    display: none !important;
  }
}

&[style*="--hide-sku:true"] {
  .product-preview__sku {
    display: none !important;
  }
}

&[style*="--slide-width-mobile:1"] {
  .add-cart-counter__detail {
    @media screen and (max-width: 767px) {
      font-size: 0.875rem;
    }
  }

  .add-cart-counter__detail-label,
  .add-cart-counter__detail-dop-text {
    @media screen and (max-width: 767px) {
      display: none;
    }
  }
}

.special-products {
  margin-bottom: 2rem;

  &:last-child {
    margin-bottom: 0;
  }

  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .splide {
    &.is-hide-paging {
      .splide__pagination {
        display: none;
      }
    }
  }

  .splide__arrows {
    display: none;
  }

  .splide__pagination {
    position: relative;
    bottom: auto;
    left: auto;
    text-align: left;
    margin-top: 1rem;
    width: auto;
    transform: translateX(0);
    display: none;

    &.is-hide {
      display: none;
    }

    @media screen and (max-width: 767px) {
      display: block;

      &.is-hide {
        display: none;
      }
    }
  }

  .splide__pagination__page {
    margin: 0 4px;
    width: 6px;
    height: 6px;
    background: var(--color-text-half-shade);
    opacity: 1;

    &.is-active {
      transform: scale(1);
      background: var(--color-text);
    }
  }

  &__slider-controls {
    @media screen and (max-width: 767px) {
      display: none;
    }
  }

  &__slider-arrow {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: auto;
    top: auto;
    right: auto;
    bottom: auto;
    margin-top: 0;
    width: 40px;
    height: 40px;
    color: var(--color-btn-bg);
    font-size: 1.5rem;
    outline: none;
    border: none;
    margin-bottom: 1rem;
    cursor: pointer;
    user-select: none;

    &.is-hide {
      display: none;
    }

    &.is-disabled {
      opacity: 0.5;
      cursor: default;
    }
  }

  .splide__slide {

    .product-preview {
      height: 100%;
    }
  }
}

.product-preview {
  border: 1px solid var(--bg-minor-shade);
  padding: 10px;
  border-radius: var(--product-border-radius);
  @include background-color(--product-bg);

  @media screen and (max-width: 767px) {
    padding: 0.5rem 0.3rem;
  }

  &.not-available {

    &.is-zero-count-hidden,
    &.is-zero-count-shown.is-forbid-order-over-existing {

      .product-preview__preorder-btn,
      .add-cart-counter {
        display: none!important;
      }

      .product-preview__detail-btn {
        display: inline-flex;
      }

      .product-preview__available {
        display: block;
      }

      .product-preview__photo {
        img {
          opacity: 0.3;
        }
      }

      .product-preview__price-cur {
        color: var(--color-text-half-shade);
      }
    }

    &.is-zero-count-preorder {

      .product-preview__detail-btn,
      .add-cart-counter {
        display: none!important;
      }

      .product-preview__preorder-btn {
        display: inline-flex;
      }

      .sticker-preorder {
        display: inline-flex;
      }
    }

    .option-value {
      &.is-radio {
        &>span {
          color: var(--color-text);
        }
      }
    }
  }

  &__content {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(5, max-content) 1fr;
    line-height: 1.25;
    height: 100%;
  }

  &__photo {
    min-width: 0;
    position: relative;
    margin: -10px -10px 1rem -10px;

    @media screen and (max-width: 767px) {
      margin: -0.5rem -0.3rem 1rem -0.3rem;
    }

    img {
      border-top-left-radius: var(--product-border-radius);
      border-top-right-radius: var(--product-border-radius);
      background: var(--product-background);
    }
  }

  &__title {
    margin-bottom: 1rem;
    word-break: break-word;

    a {
      color: inherit;
      text-decoration: none;

      &:hover {
        color: var(--color-accent-text);
      }
    }
  }

  &__available {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    text-align: center;
    padding: 0 1rem;
    transform: translateY(-50%);
    color: var(--color-text);
    display: none;
  }

  &__sku {
    color: var(--color-text-half-shade);
    font-size: 0.75rem;
    margin-bottom: 5px;
  }

  &__description {
    color: var(--color-text-half-shade);
    font-size: 0.875rem;
    margin-bottom: 1rem;
  }

  &__variants {
    margin-bottom: 0.5rem;

    select {
      display: none;
    }
  }

  &__area-bottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  &__price {
    margin-bottom: 0.5rem;
  }

  &__price-cur {
    display: block;
    font-size: 1.75rem;
    font-weight: 600;
    white-space: nowrap;

    @media screen and (max-width: 767px) {
      font-size: 1.3rem;
    }
  }

  &__price-old {
    display: block;
    font-size: 1.125rem;
    color: var(--color-text-half-shade);
    text-decoration: line-through;
    white-space: nowrap;

    @media screen and (max-width: 767px) {
      font-size: 1rem;
    }
  }

  &__price-range {
    margin-bottom: 0.5rem;
    display: none;
  }

  &__price-label {
    font-size: 1rem;
  }

  .option-selector {
    .option {
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .option-label {
      display: block;
      margin-bottom: 5px;
      font-size: 0.75rem;
    }

    .option-value {

      &.is-radio,
      &.is-span {
        display: inline-block;
        margin: 0 2px 5px 0;
        line-height: 1;
        font-size: 0.875rem;
        cursor: pointer;

        @media screen and (max-width: 767px) {
          font-size: 0.75rem;
        }

        &.is-active {

          &>span,
          &.is-span {
            background-color: transparent;
            border: 2px solid var(--color-btn-bg);
          }
        }

        &>input {
          display: none;
        }

        &>span,
        &.is-span {
          --option-bg: var(--product-bg-minor-shade, var(--bg-minor-shade));
          display: inline-block;
          padding: 0.3rem 0.5rem;
          border-radius: var(--controls-btn-border-radius);
          border: 2px solid var(--option-bg);
          @include background-color(--option-bg);
        }
      }
    }
  }

  &__preorder-btn,
  &__detail-btn,
  &__detail-select-btn {
    display: none;
  }

  .stickers {
    position: absolute;
    top: 3px;
    left: 3px;
    z-index: 1;
    line-height: 1;
    font-size: 0;
  }

  .sticker {
    display: inline-flex;
    vertical-align: middle;
    margin: 0 5px 5px 0;
    line-height: 1;
    padding: 0.35em;
    font-size: var(--sticker-font-size, 0.875rem);
    border-radius: var(--controls-btn-border-radius);

    @media screen and (max-width: 767px) {
      font-size: calc(0.75 * var(--sticker-font-size, 0.875rem));
    }

    &.sticker-preorder {
      display: none;
    }

    &:empty {
      display: none;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

/* ADD CART COUNTER */
.add-cart-counter {
  &.is-add-cart {
    .add-cart-counter__btn {
      display: none;
    }

    .add-cart-counter__controls {
      display: flex;
    }
  }

  &__btn {
    width: 100%;

    .button__icon {
      margin-left: 0.3rem;
    }
  }

  &__controls {
    width: 100%;
    height: var(--controls-height-m);
    text-align: center;
    display: none;
  }

  &__controls-btn {
    width: var(--controls-height-m);
    min-width: var(--controls-height-m);
    padding: 0;
    font-size: 1.5rem;

    &[data-add-cart-counter-minus] {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &[data-add-cart-counter-plus] {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  &__detail {
    flex-grow: 1;
    margin: 0 1px;
    text-decoration: none;
    line-height: 1;
    flex-direction: column;
    border-radius: 0;
    padding: 0 5px;
    font-size: 0.75rem;
  }

  &__detail-text {
    display: block;
  }

  &__detail-dop-text {
    display: block;
    margin-top: 4px;
  }
}

.favorites_btn,
.favorites_btn:hover {
  position: absolute;
  z-index: 1;
  right: 0.25rem;
  top: 0.25rem;
  font-size: 1.25rem;
  background: transparent;
  color: var(--color-text-half-shade);
  outline: none;
  padding: 0;
  border: 0;
  height: 32px;
  width: 32px;

  &:before {
    content: "";
    border-radius: 50%;
    background: var(--bg);
    width: 32px;
    height: 32px;
    position: absolute;
    opacity: 0.6;
    right: 0;
    top: 0;
  }

  .icon-favorites-f {
    display: none;
  }

  .btn-icon {
    z-index: 2;
    font-weight: bold;
  }
}

.favorites_btn.favorites-added {
  color: var(--color-btn-bg);

  .icon-favorites-f {
    display: block;
  }

  .icon-favorites-o {
    display: none;
  }
}

/* IMAGE-COLOR */

.option-value-system-color.with-image-color img {
  height: 40px;
  object-fit: cover;
}

&:not(.is-loaded) {
  --slider-height: 320px;
  --head-height: 54.39px;
  min-height: calc(var(--slider-height) + var(--layout-pt) + var(--layout-pb) + var(--head-height));

  @media screen and (max-width: 767px) {
    --slider-height: 340px;
  }
}

// Скрываем кнопку "В корзину" и селектор вариантов, если есть опции
.product-preview.with-accessories {
  .product-preview__preorder-btn,
  .add-cart-counter,
  .add-cart-counter__btn,
  .product-preview__detail-btn {
    display: none !important;
  }

  .product-preview__detail-select-btn {
    display: inline-flex !important;
  }

  &.is-zero-count-hidden,
  &.is-all-variants-not-available.is-zero-count-shown.is-forbid-order-over-existing {
    .product-preview__detail-select-btn {
      display: none !important;
    }

    .product-preview__detail-btn {
      display: inline-flex !important;
    }
  }

  .product-preview__variants {
    display: none;
  }
}
