&.layout,
.layout__content{
	max-width: 100% !important;
	padding-top: 0 !important;
	padding-left: 0 !important;
	padding-right: 0 !important;
	padding-bottom: 0 !important;
}

.title-container{
	position: relative;
}

.image-container{
	position: absolute;
	top: 0;
	left: 50%;
  transform: translateX(-50%);
	bottom: 0;
	overflow: hidden;
	max-width: var(--layout-content-max-width);
	width: 100%;
	border-radius: var(--border-radius);

	&:after{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		content: '';
		background-color: var(--bg-image-color);
		opacity: var(--bg-image-opacity);
	}

	img{
		object-fit: cover;
		height: 100%;
    width: 100%;
    max-width: none;
    max-height: none;
    object-position: 50% 50%;
	}
}

.text-container{
	position: relative;
	max-width: var(--layout-content-max-width);
	padding-top: var(--custom-layout-pt);
	padding-left: var(--layout-side-padding);
  padding-right: var(--layout-side-padding);
	padding-bottom: var(--custom-layout-pb);
	margin: auto;

	@media all and (max-width: 767px){
		padding-top: var(--custom-layout-pt-sm);
		padding-bottom: var(--custom-layout-pb-sm);
	}
}

&[style*="--layout-wide-bg:true"]{
	.image-container{
		max-width: 100%;
	}
	.text-container{
		max-width: calc(var(--layout-content-max-width) + (2 * var(--layout-side-padding)));
	}
}
&[style*="--layout-wide-content:true"]{
	.text-container{
		max-width: 100%;
	}
}
&[style*="--layout-edge:true"]{
	.text-container{
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
}

.rev-title{
	text-align: var(--text-align);
	color: var(--color-text);

	.title{
		font-weight: 500;
		font-size: var(--title-font-size);
		margin: 0;

		@media all and (max-width: 767px){
			font-size: var(--title-font-size-sm);
		}
	}

	.subtitle{
		position: relative;
		font-size: var(--subtitle-font-size);

		@media all and (max-width: 767px){
			font-size: var(--subtitle-font-size-sm);
		}
	}

	.breadcrumbs{
		list-style: none;
		font-size: 0;
		padding: 0;
		margin: 0;

		li{
			display: inline-block;
			vertical-align: middle;
			font-size: 0;
			margin: 5px 0;
		
			a{
				display: inline-block;
				vertical-align: middle;
				font-size: var(--subtitle-font-size);
				text-decoration: none;
				color: var(--color-text);

				@media all and (max-width: 767px){
					font-size: var(--subtitle-font-size-sm);
				}
			}

			span{
				font-size: var(--subtitle-font-size);

				@media all and (max-width: 767px){
					font-size: var(--subtitle-font-size-sm);
				}
			}

			&:after{
				display: inline-block;
				vertical-align: middle;
				content: '';
				width: 6px;
				height: 6px;
				border-radius: 50%;
				background-color: var(--color-text);
				opacity: 0.7;
				margin: 0 13px;
			}

			&:last-child:after{
				display: none;
			}
		}
	}
}