// Соглашение с куки
.cookies {
    position: fixed;
    left: 1.25rem;
    bottom: 1.25rem;
    width: 100%;
    max-width: 20.375rem;
    z-index: 1000;
    cursor: pointer;
}

.cookies__body {
    padding:  1.25rem;
    height: 100%;
    background-color: #40332B;
    border-radius: 0.5rem;
    height: 100%;
    min-height: 10.75rem;
}

.cookies__body {
    display: none;
}

// .cookies__body.is-active {
//   opacity: 1;
//   transform: translateY(0) scale(1);
// }

.cookies__title {
    margin-bottom: 1.25rem;
    font-size: 1rem;
    font-weight: 500;
    line-height: 120%;
    color: #fff;
}

.cookies__title a {
    text-decoration: underline;
    transition: text-decoration ease 0.25s;
}

.cookies__title a:hover {
    text-decoration: none;
    color: #fff;
}

.cookies__body .btn:not(:last-child) {
    margin-bottom: 0.625rem;
}

.btn_cookies,
.btn_cookies-close {
    width: 100%;
    min-height: 2rem;
    font-size: 0.875rem;
    font-weight: 500;
    border: none;
}

.btn_cookies {
    color: #251E19;
    background-color: #fff;
}

.btn_cookies-close {
    color: #fff;
    background-color: #ffffff20;
}

@media (max-width: 63.99875em) {
    // Соглашение с куки
    .cookies {
        position: fixed;
        left: 50%;
        bottom: 4.6875rem;
        transform: translateX(-50%);
        width: 100%;
        max-width: 20.375rem;
        z-index: 1000;
        cursor: pointer;
    }
}
