/* Шапка */


.tap-bar__actions-item:not(._active) span:first-child,
.tap-bar__actions-item:not(._active)::before {
  opacity: .5;
}

.tap-bar__actions-item_catalog::before {
  background-image: var(--icon-grid);
}

.mob-popup {
  z-index: 1000;
}

.favorites-added::after {
  opacity: 1;
}

.checkbox__input:checked+.checkbox__text-wrapper .checkbox__point {
  background-image: var(--icon-check-white);
}

.input-group__clear,
.popup-right__close,
.order__input-clear,
.basket__actions-mob-item_clear {
  background-image: var(--icon-close-disabled);
}

.btn-icon_notice {
  background-image: var(--icon_notice);
}

.header-search__list-link_recently::before {
  background-image: var(--icon-time);
}

.header__icon_favorites,
.products-item__action-whishlist::before,
.tap-bar__actions-item_whishlist::before {
  background-image: var(--icon-favorites);
}

.header__icon_search {
  background-image: var(--icon-search);
}

.mob-popup__form-submit,
.mob-popup__actions-item_search {
  background-image: var(--icon-search-mob);
}

.loader-icon_added {
  background-image: var(--icon-success);
}


.products-item__action-whishlist::after {
  background-image: var(--icon-favorites-fill);
}

.products-item__action-addcart::before {
  background-image: var(--icon-bag);
}

.products-item__action-addcart::after {
  background-image: var(--icon-bag-fill);
}

.products-item__size-title::after {
  background-image: var(--icon-chevron-right);
  transform: rotate(90deg);
}

.products-item__size-title._spoller-active::after {
  transform: rotate(270deg);
}

.products-item__action-subscribe::before {
  background-image: var(--icon-subscribe);
}

.products-item__action-subscribe::after {
  background-image: var(--icon-subscribe-fill);
}

.products-item__action-subscribe._active::before,
.products-item__action-addcart._active::before {
  opacity: 0;
}

.products-item__action-subscribe._active::after,
.products-item__action-addcart._active::after {
  opacity: 1;
}

/* Крестик*/
.mob-popup__form-clear,
.products-item__sizes-close,
.mob-popup__actions-item_close,
.mob-popup__actions-item_close-disabled,
.basket-item__actions-delete,
.form-promocode__clear,
.popup__close {
  background-image: var(--icon-close);
}

.btn-icon_remove {
  background-image: var(--icon-close-org);
}


/* Слайдер и каталог */
.select__title:after,
.filters__title-wrapper::after,
.select_catalog-sort .select__value::after,
.catalog__navigation-item-button::before {
  background-image: var(--icon-chevron-down);
}

.selected-filters__delete::before,
.price-filter .price-filter__input-clear {
  background-image: var(--icon-close);
}

.checkbox__input:checked+.checkbox__text-wrapper .checkbox__point {
  background-image: var(--icon-check-white);
}

.products-item__sizes-table::before {
  background-image: var(--icon-ruler);
}

.mob-popup__back,
.products-slider__arrow-prev,
.products-slider__arrow-next,
.mob-popup__list-link_sub::after,
.popup-right__back,
.catalog__back {
  background-image: var(--icon-chevron-right);
}

.catalog__back,
.mob-popup__back,
.products-slider__arrow-prev {
  transform: rotate(180deg);
}

.pagin__btn {
  background-image: var(--icon-pgn-chevron-left);
}

.catalog__filters-button {
  background-image: var(--icon-filter-fill);
}


/* Карточка товара */
.product-card-descr__title-icon,
.product-card-descr__title-icon::before {
  background-image: var(--icon-minus);
}

.product-card-info__reviews::before {
  background-image: var(--icon-chat);
}

.product-card-info__installment-button {
  background-image: var(--icon-info-accent);
}

.payments__btn-icon {
  background-image: var(--icon-info-grey);
}

.btn-icon_secondary.btn-icon_whishlist,
.basket-item__actions-wishlist::before {
  background-image: var(--icon-whishlist);
}

.btn-icon_secondary.btn-icon_whishlist.favorites-added,
.basket-item__actions-wishlist.favorites-added::before {
  background-image: var(--icon-whishlist-fill);
}

.popup__parts-info-item:first-child::before {
  background-image: var(--icon-stars);
}

.popup__parts-info-item:last-child::before {
  background-image: var(--icon-card);
}

/* Попап */
/* .input_datepicker {
  background-image: var(--icon-calendar);
} */

/* Корзина */
.quantity__button_plus::before {
  background-image: var(--icon-plus-accent);
}

.quantity__button_minus::before {
  background-image: var(--icon-minus-accent);
}

.basket__info-delivery::before,
.tap-bar__label_del::before {
  background-image: var(--icon-delivery-accent);
}

.basket__info-delivery._active::before,
.tap-bar__label_del-active::before {
  background-image: var(--icon-free-shipping-accent);
}

.btn-icon_notify {
  background-image: var(--icon-notification-accent);
}

.btn-icon_notify._active {
  background-image: var(--icon-notification-fill-accent);
}

.btn-icon_basket {
  background-image: var(--icon-bag-white);
}

.btn-icon_basket._active {
  background-image: var(--icon-bag-white-fill);
  background-color: #975730;
  -webkit-transition: .3s ease 0s;
  transition: .3s ease 0s;
  -webkit-transition-property: background-color;
  transition-property: background-color;
}

.btn-icon_basket._active:hover {
  background-color: #7D401B;
}

.popup__products-list-arrow_left {
  background-image: var(--icon-arrow-left-accent);
}

.popup__products-list-arrow_right {
  background-image: var(--icon-arrow-right-accent);
}

.basket__actions-mob-item_share {
  background-image: var(--icon-share);
}

.service-message_check::before,
.service-message_basket-share::before {
  background-image: var(--icon-check-fill-white);
}

/* Вишлист */
.btn_share::before {
  background-image: var(--icon-share-accent);
}

/* Оформление заказа */
.order__note::before {
  background-image: var(--icon-user-accent);
}

.header__social-item_wa {
  background-image: var(--icon-whatsapp);
}

.header__social-item_tg {
  background-image: var(--icon-telegram);
}

/* Инфо страница */
.info__link::after {
  background-image: var(--icon-arrow-right-accent);
}

.info__back::before {
  background-image: var(--icon-chevron-right);
  transform: rotate(180deg);
  opacity: 0.6;
}

@media (max-width: 47.9988em) {
  .popup-right__close {
    background-image: var(--icon-close);
  }
}
