/* Собраны базовые стили */

// settings_data
@import "settings";
@import "icons";

:root {
  --layout-side-padding: 0;
  --layout-side-padding-mobile: 0;
  --notice-height: 0px;
  --notice-basic-height: 0px;
  --notice-add-top: 0px;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #251e19;
  line-height: 1;
  font-family: "TTFors",sans-serif,arial;
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "TTFors",sans-serif,arial;
  font-size: inherit;
  outline: none;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body.transition_disabled * {
  -webkit-transition: none !important;
  transition: none !important;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

body::before {
  content: "";
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #372c25;
  opacity: 0;
  -webkit-transition: opacity .5s ease 0s;
  transition: opacity .5s ease 0s;
  pointer-events: none;
  z-index: 101;
}

.popup-show body::before {
  opacity: .7;
  -webkit-transition: opacity .5s ease 0s;
  transition: opacity .5s ease 0s;
}

body::after {
  content: "";
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #372c25;
  opacity: 0;
  -webkit-transition: opacity .5s ease 0s;
  transition: opacity .5s ease 0s;
  pointer-events: none;
  z-index: 99;
}
.cross{
    --angle: 0deg;
    --angle-delta: 90deg;
    --weight: 1px;
    --width: 10px;
    --color: black;
    display: grid;
    grid-template-columns: var(--width);
    grid-template-rows: var(--width);
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 0;
}
.cross:before, .cross:after{
    content: '';
    grid-area: 1/1;
    width: 100%;
    height: var(--weight);
    background: var(--color);
}
.cross:before{
    rotate: var(--angle);
}
.cross:after{
    rotate: calc(var(--angle) + var(--angle-delta));
}
.login__container {
    margin: auto;
}
#popup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: auto;
    background: #372c25b3;
    display: none;
    align-items: center;
    justify-content: center;
    padding: 12px;
}
#popup.active{
    display: flex;
    z-index: 99;
}
.popup-content{
    background: white;
    padding: 20px;
    width: 800px;
    max-width: 100%;
    table{
      border-collapse: collapse;
    }
    td{
      padding: .5em;
      border: 1px solid #f3f0ee;
    }
}
.popup-content>:last-child{
  margin-bottom: 0;
}
.popup-close{
  margin: 0 0 0 auto;
  --angle: 45deg;
  --width: 20px;
}
.popup_title{
  margin: 0 0 1em 0;
  font-size: 20px;
  text-align: center;
  font-weight: 600;
}
.popup_txt{
  margin: 1em 0;
  line-height: 1.2em;
}
.table-wrapper{
  max-width: 100%;
  overflow: auto;
}
.menu-hover body::after {
  opacity: .7;
}

.page_layout-clear {
  grid-template-rows: auto 1fr auto;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper>main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper>* {
  min-width: 0;
}

.page_layout > main {
  margin-bottom: 7.5rem;
}

[class*=__container] {
  padding: 0 2rem;
}

[class*=__container_alt] {
  max-width: 75rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 2rem;
}


// Лоадры
.spinner_b2T7 {
    animation: spinner_xe7Q .6s linear infinite;
    transform-origin: center;
    will-change: transform;
}

.spinner_YRVV {
    animation-delay: -.49s;
}

.spinner_c9oY {
    animation-delay: -.38s;
}

@keyframes spinner_xe7Q {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.25);
  }
}

.local-loader {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: 50;
  width: 100%;
  min-height: 200px;
  height: 100%;
  overflow: visible;
  text-align: center;
  background-color: #ffffff24;
  contain: layout;
}

.local-loader svg {
  width: 100%;
  height: 100%;
  max-width: 70px;
  display: inline-block;
  will-change: transform;
}

.loader-added {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;

  overflow: visible;
  text-align: center;
  background-color: #372C25B2;
  z-index: 11;
}

.loader-added > p {
  margin: 0;
  color: #fff;
}

.loader-icon_added {
  height: 2.5rem;
  width: 2.5rem;
  background-size: 2.0625rem 2.0625rem;
  background-repeat: no-repeat;
  background-position: center center;
}
.product-card-info__buttons {
  flex-wrap: wrap;
  .local-loader {
    min-height: auto;
    svg {
      max-width: 40px;
    }
  }
}

.loading-item {
  margin-left: 2px;
  margin-right: 2px;
  background-color: #e0e0e0;
  animation: skeleton-loading 1.2s infinite ease-in-out;
}

@keyframes skeleton-loading {
  0% {
      background-color: #e0e0e0;
  }
  50% {
      background-color: #f0f0f0;
  }
  100% {
      background-color: #e0e0e0;
  }
}

// оформление заказа
.deliveries_bobr .co-delivery_method {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-bottom: .25rem;
  border-color: #a38775;
  border: .0625rem solid #d3d2d1;
  border-radius: .5rem;
  padding: .6875rem;
}

.co-toggable_field--bordered .co-toggable_field-title {
  margin: 0 0 0.25rem 0;
}

.co-delivery_method-title {
  font-size: 1rem;
  line-height: 120%;
  color: #251e19;
}

.co-delivery_method-price {
  padding: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  font-weight: 500;
  font-size: 1rem;
  line-height: 120%;
  color: #251e19;
}

.co-toggable_field-input {
  -ms-flex: 0;
  flex: 0;
  margin-right: 0.75rem;
}

.co-toggable_field-input input+span {
  flex: 0 0 1rem;
  width: 1rem;
  height: 1rem;
}

.co-toggable_field--bordered .co-toggable_field-information {
  padding: 0;
}

.co-toggable_field-information {
  flex: 1;
}

.co-delivery_method-description {
  margin: 0 0 0.25rem 0;
  font-size: .875rem;
  line-height: 120%;
  color: #251e19;
}

.co-toggable_field-input--radio input:focus+span, .co-toggable_field-input--radio input.picker-input--active+span, .co-toggable_field-input--radio input:checked+span {
  color: #40332b !important;
  -webkit-box-shadow: inset 0 0 0 4px currentColor !important;
  box-shadow: inset 0 0 0 4px currentColor !important;
}

.co-tabs-content .radio > span, .co-input--radio > span, .co-toggable_field-input--checkbox > span, .co-toggable_field-input--radio > span {
  color: #bebcba;
  -webkit-box-shadow: inset 0 0 0 1px currentColor;
  box-shadow: inset 0 0 0 1px currentColor;
}

.deliveries_bobr [data-open-pickup-map] {
  font-size: .875rem;
  line-height: 120%;
  color: #975730;
}

.co-input--country .select__options {
  height: 20rem;
  overflow-y: scroll;
}

.co-input--country div.co-input-select:after {
  top: 15px;
}

@media (max-width: 63.9988em) {
  .page_layout > main {
    margin-bottom: 4rem;
  }

  .order__checkbox {
      -ms-grid-column: 1;
      grid-column: 1;
  }
}

.amocrm-max-button{position:fixed;width:50px;height:50px;border-radius:35px;background:linear-gradient(135deg,#32b5ff 0,#573fff 50%,#a84eff 100%);display:flex;align-items:center;justify-content:center;cursor:pointer;z-index:101;opacity:0;transform:scale(.8) translateY(10px);pointer-events:none;transition:opacity .2s,transform .2s}.amocrm-max-button.visible{opacity:1;transform:scale(1) translateY(0);pointer-events:auto}.amocrm-max-button-tooltip{position:absolute;right:calc(100% + 12px);top:50%;transform:translateY(-50%) translateX(4px);background:#fff;color:#333;font-family:Arial,sans-serif;font-size:12px;white-space:nowrap;padding:5px 10px;border-radius:20px;opacity:0;pointer-events:none;transition:opacity .15s,transform .15s}.amocrm-max-button:hover .amocrm-max-button-tooltip{opacity:1;transform:translateY(-50%) translateX(0)}